hr,
img,
legend{border:0}
legend,
td,
th{padding:0}
body,
figure{margin:0}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after{clear:both}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{display:block}
audio,
canvas,
progress,
video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],
template{display:none}
a{background-color:transparent;color:#337ab7;text-decoration:none}
a:active,
a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,
optgroup,
strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
.img-thumbnail,
body{background-color:#fff}
small{font-size:80%}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{vertical-align:middle}
svg:not(:root){overflow:hidden}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre,
textarea{overflow:auto}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em}
button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,
select{text-transform:none}
button,
html input[type=button],
input[type=reset],
input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],
html input[disabled]{cursor:default}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],
input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
table{border-collapse:collapse;border-spacing:0}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{font-size:10px;-webkit-tap-highlight-color:transparent}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857;color:#333}
button,
input,
select,
textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a:focus,
a:hover{color:#23527c;text-decoration:underline}
a:focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}
.img-responsive{display:block;max-width:100%;height:auto}
.img-rounded{-webkit-border-radius:6px;border-radius:6px}
.img-thumbnail{padding:4px;line-height:1.42857;border:1px solid #ddd;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before{content:" ";display:table}
.img-circle{-webkit-border-radius:50%;border-radius:50%}
hr{margin-top:20px;margin-bottom:20px;border-top:1px solid #eee}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.sr-only-focusable:active,
.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
.container,
.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
[role=button]{cursor:pointer}
@media (min-width:480px){.container{width:470px}
}
@media (max-width:480px){.container{width:470px}
section h2, .secret h2, .ci-header, .ci-body, .tr-header, .tr-body, .warning p{color:#fff;}
.secret p{color:white;}
.warning p, .warning h2{color:black;}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:1170px}
}
.row{margin-left:-15px;margin-right:-15px}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9{float:left}
.col-xs-1{width:8.33333%}
.col-xs-2{width:16.66667%}
.col-xs-3{width:25%}
.col-xs-4{width:33.33332%}
.col-xs-5{width:41.66667%}
.col-xs-6{width:50%}
.col-xs-7{width:58.33333%}
.col-xs-8{width:66.66667%}
.col-xs-9{width:75%}
.col-xs-10{width:83.33333%}
.col-xs-11{width:91.66667%}
.col-xs-12{width:100%}
.col-xs-pull-0{right:auto}
.col-xs-pull-1{right:8.33333%}
.col-xs-pull-2{right:16.66667%}
.col-xs-pull-3{right:25%}
.col-xs-pull-4{right:33.33332%}
.col-xs-pull-5{right:41.66667%}
.col-xs-pull-6{right:50%}
.col-xs-pull-7{right:58.33333%}
.col-xs-pull-8{right:66.66667%}
.col-xs-pull-9{right:75%}
.col-xs-pull-10{right:83.33333%}
.col-xs-pull-11{right:91.66667%}
.col-xs-pull-12{right:100%}
.col-xs-push-0{left:auto}
.col-xs-push-1{left:8.33333%}
.col-xs-push-2{left:16.66667%}
.col-xs-push-3{left:25%}
.col-xs-push-4{left:33.33332%}
.col-xs-push-5{left:41.66667%}
.col-xs-push-6{left:50%}
.col-xs-push-7{left:58.33333%}
.col-xs-push-8{left:66.66667%}
.col-xs-push-9{left:75%}
.col-xs-push-10{left:83.33333%}
.col-xs-push-11{left:91.66667%}
.col-xs-push-12{left:100%}
.col-xs-offset-0{margin-left:0}
.col-xs-offset-1{margin-left:8.33333%}
.col-xs-offset-2{margin-left:16.66667%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-4{margin-left:33.33332%}
.col-xs-offset-5{margin-left:41.66667%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-7{margin-left:58.33333%}
.col-xs-offset-8{margin-left:66.66667%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-10{margin-left:83.33333%}
.col-xs-offset-11{margin-left:91.66667%}
.col-xs-offset-12{margin-left:100%}
@media (min-width:480px){.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9{float:left}
.col-sm-1{width:8.33333%}
.col-sm-2{width:16.66667%}
.col-sm-3{width:25%}
.col-sm-4{width:33.33332%}
.col-sm-5{width:41.66667%}
.col-sm-6{width:50%}
.col-sm-7{width:58.33333%}
.col-sm-8{width:66.66667%}
.col-sm-9{width:75%}
.col-sm-10{width:83.33333%}
.col-sm-11{width:91.66667%}
.col-sm-12{width:100%}
.col-sm-pull-0{right:auto}
.col-sm-pull-1{right:8.33333%}
.col-sm-pull-2{right:16.66667%}
.col-sm-pull-3{right:25%}
.col-sm-pull-4{right:33.33332%}
.col-sm-pull-5{right:41.66667%}
.col-sm-pull-6{right:50%}
.col-sm-pull-7{right:58.33333%}
.col-sm-pull-8{right:66.66667%}
.col-sm-pull-9{right:75%}
.col-sm-pull-10{right:83.33333%}
.col-sm-pull-11{right:91.66667%}
.col-sm-pull-12{right:100%}
.col-sm-push-0{left:auto}
.col-sm-push-1{left:8.33333%}
.col-sm-push-2{left:16.66667%}
.col-sm-push-3{left:25%}
.col-sm-push-4{left:33.33332%}
.col-sm-push-5{left:41.66667%}
.col-sm-push-6{left:50%}
.col-sm-push-7{left:58.33333%}
.col-sm-push-8{left:66.66667%}
.col-sm-push-9{left:75%}
.col-sm-push-10{left:83.33333%}
.col-sm-push-11{left:91.66667%}
.col-sm-push-12{left:100%}
.col-sm-offset-0{margin-left:0}
.col-sm-offset-1{margin-left:8.33333%}
.col-sm-offset-2{margin-left:16.66667%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-4{margin-left:33.33332%}
.col-sm-offset-5{margin-left:41.66667%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-7{margin-left:58.33333%}
.col-sm-offset-8{margin-left:66.66667%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-10{margin-left:83.33333%}
.col-sm-offset-11{margin-left:91.66667%}
.col-sm-offset-12{margin-left:100%}
}
@media (min-width:992px){.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9{float:left}
.col-md-1{width:8.33333%}
.col-md-2{width:16.66667%}
.col-md-3{width:25%}
.col-md-4{width:33.33332%}
.col-md-5{width:41.66667%}
.col-md-6{width:50%}
.col-md-7{width:58.33333%}
.col-md-8{width:66.66667%}
.col-md-9{width:75%}
.col-md-10{width:83.33333%}
.col-md-11{width:91.66667%}
.col-md-12{width:100%}
.col-md-pull-0{right:auto}
.col-md-pull-1{right:8.33333%}
.col-md-pull-2{right:16.66667%}
.col-md-pull-3{right:25%}
.col-md-pull-4{right:33.33332%}
.col-md-pull-5{right:41.66667%}
.col-md-pull-6{right:50%}
.col-md-pull-7{right:58.33333%}
.col-md-pull-8{right:66.66667%}
.col-md-pull-9{right:75%}
.col-md-pull-10{right:83.33333%}
.col-md-pull-11{right:91.66667%}
.col-md-pull-12{right:100%}
.col-md-push-0{left:auto}
.col-md-push-1{left:8.33333%}
.col-md-push-2{left:16.66667%}
.col-md-push-3{left:25%}
.col-md-push-4{left:33.33332%}
.col-md-push-5{left:41.66667%}
.col-md-push-6{left:50%}
.col-md-push-7{left:58.33333%}
.col-md-push-8{left:66.66667%}
.col-md-push-9{left:75%}
.col-md-push-10{left:83.33333%}
.col-md-push-11{left:91.66667%}
.col-md-push-12{left:100%}
.col-md-offset-0{margin-left:0}
.col-md-offset-1{margin-left:8.33333%}
.col-md-offset-2{margin-left:16.66667%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-4{margin-left:33.33332%}
.col-md-offset-5{margin-left:41.66667%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-7{margin-left:58.33333%}
.col-md-offset-8{margin-left:66.66667%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-10{margin-left:83.33333%}
.col-md-offset-11{margin-left:91.66667%}
.col-md-offset-12{margin-left:100%}
}
@media (min-width:1200px){.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9{float:left}
.col-lg-1{width:8.33333%}
.col-lg-2{width:16.66667%}
.col-lg-3{width:25%}
.col-lg-4{width:33.3%}
.col-lg-5{width:41.66667%}
.col-lg-6{width:50%}
.col-lg-7{width:58.33333%}
.col-lg-8{width:66.66667%}
.col-lg-9{width:75%}
.col-lg-10{width:83.33333%}
.col-lg-11{width:91.66667%}
.col-lg-12{width:100%}
.col-lg-pull-0{right:auto}
.col-lg-pull-1{right:8.33333%}
.col-lg-pull-2{right:16.66667%}
.col-lg-pull-3{right:25%}
.col-lg-pull-4{right:33.33332%}
.col-lg-pull-5{right:41.66667%}
.col-lg-pull-6{right:50%}
.col-lg-pull-7{right:58.33333%}
.col-lg-pull-8{right:66.66667%}
.col-lg-pull-9{right:75%}
.col-lg-pull-10{right:83.33333%}
.col-lg-pull-11{right:91.66667%}
.col-lg-pull-12{right:100%}
.col-lg-push-0{left:auto}
.col-lg-push-1{left:8.33333%}
.col-lg-push-2{left:16.66667%}
.col-lg-push-3{left:25%}
.col-lg-push-4{left:33.33332%}
.col-lg-push-5{left:41.66667%}
.col-lg-push-6{left:50%}
.col-lg-push-7{left:58.33333%}
.col-lg-push-8{left:66.66667%}
.col-lg-push-9{left:75%}
.col-lg-push-10{left:83.33333%}
.col-lg-push-11{left:91.66667%}
.col-lg-push-12{left:100%}
.col-lg-offset-0{margin-left:0}
.col-lg-offset-1{margin-left:8.33333%}
.col-lg-offset-2{margin-left:16.66667%}
.col-lg-offset-3{margin-left:25%}
.col-lg-offset-4{margin-left:33.33332%}
.col-lg-offset-5{margin-left:41.66667%}
.col-lg-offset-6{margin-left:50%}
.col-lg-offset-7{margin-left:58.33333%}
.col-lg-offset-8{margin-left:66.66667%}
.col-lg-offset-9{margin-left:75%}
.col-lg-offset-10{margin-left:83.33333%}
.col-lg-offset-11{margin-left:91.66667%}
.col-lg-offset-12{margin-left:100%}
}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.hidden,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block{display:none!important}
.invisible{visibility:hidden}
.text-hide{font:0px/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.affix{position:fixed}
@-ms-viewport{width:device-width}
@media (max-width:479px){.visible-xs{display:block!important}
table.visible-xs{display:table!important}
tr.visible-xs{display:table-row!important}
td.visible-xs,
th.visible-xs{display:table-cell!important}
.visible-xs-block{display:block!important}
.visible-xs-inline{display:inline!important}
.visible-xs-inline-block{display:inline-block!important}
}
@media (min-width:480px) and (max-width:991px){.visible-sm{display:block!important}
table.visible-sm{display:table!important}
tr.visible-sm{display:table-row!important}
td.visible-sm,
th.visible-sm{display:table-cell!important}
.visible-sm-block{display:block!important}
.visible-sm-inline{display:inline!important}
.visible-sm-inline-block{display:inline-block!important}
}
@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}
table.visible-md{display:table!important}
tr.visible-md{display:table-row!important}
td.visible-md,
th.visible-md{display:table-cell!important}
.visible-md-block{display:block!important}
.visible-md-inline{display:inline!important}
.visible-md-inline-block{display:inline-block!important}
}
@media (min-width:1200px){.visible-lg{display:block!important}
table.visible-lg{display:table!important}
tr.visible-lg{display:table-row!important}
td.visible-lg,
th.visible-lg{display:table-cell!important}
.visible-lg-block{display:block!important}
.visible-lg-inline{display:inline!important}
.visible-lg-inline-block{display:inline-block!important}
.hidden-lg{display:none!important}
}
@media (max-width:479px){.hidden-xs{display:none!important}
}
@media (min-width:480px) and (max-width:991px){.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}
}
.visible-print{display:none!important}
@media print{.visible-print{display:block!important}
table.visible-print{display:table!important}
tr.visible-print{display:table-row!important}
td.visible-print,
th.visible-print{display:table-cell!important}
}
.visible-print-block{display:none!important}
@media print{.visible-print-block{display:block!important}
}
.visible-print-inline{display:none!important}
@media print{.visible-print-inline{display:inline!important}
}
.visible-print-inline-block{display:none!important}
@media print{.visible-print-inline-block{display:inline-block!important}
.hidden-print{display:none!important}
}
<!-- header inline style --> header,
section{overflow:hidden;background-repeat:no-repeat;background-position:top center}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{padding:0;margin:0}
.clock-header,
.header-body,
section{text-align:center}
*{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
input{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto}
body{background-color:#012744;color:#000;font-family:OpenSansRegular, sans-serif;font-size:18px;line-height:23px;min-width:320px}
.bold,
.count-bayer,
.price .cost,
h1,
h2,
h3,
h4,
h5,
h6{font-family:OpenSansBold, sans-serif}
section{padding:30px 0 40px}
section h2{line-height:40px}
.order-row .pack{display:none}
.order-row .sale{opacity:0}
h1,
h2,
h3,
h4,
h5,
h6{font-weight:400}
h1{font-size:38px;line-height:54.3px}
h2{font-size:36px}
header{background-image:url(../img/bg-header.jpg)}
.yellow{color:#ffca11}
.red{color:#ff0b00}
.row-flex{-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.row-flex>div{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
ul{list-style-type:none}
.btn{display:inline-block;color:#fff;background-color:#ff7426 !important;border-color:#ff7426 !important;border:1px solid;color:#fff;-webkit-transition:all ease .5s;transition:all ease .5s}
.btn:hover{color:#fff !important;background-color:#f96d1f !important;border-color:#f96d1f !important;text-decoration:none}
.top-line{background-color:rgba(0, 0, 0, .61)}
.tl-block{font-size:14px;line-height:16px;height:87px;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.top-logo{margin:0 15px 0 -15px}
.top-slogan{-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;width:580px}
.top-slogan__item{color:#fff;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.top-slogan__item i{font-size:2.6em;display:block;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
.top-slogan__item span{display:block;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
.top-btn{margin-right:-15px}
.top-btn .btn{padding:10px}
.clock-block{position:relative}
.clock-header{color:#fff;position:absolute;top:-1.5em;width:100%;font-size:11px}
.header-body{color:#fff}
.header-body h1{margin:0 -15px}
.under-header{font-size:23px;line-height:36px;margin-top:10px}
.list-form{margin-top:45px}
.list-ok{width:520px;background-color:#13527d;background-color:rgba(19, 82, 125, .66);text-align:left;margin-left:-15px}
.list-ok-items{padding:30px 80px 32px 30px}
.list-ok-items li{margin-top:15px;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.list-ok-items li:first-child{margin-top:0}
.list-ok-items li:not(:last-child) span{padding-bottom:15px;background:-webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 219, 140, .98) 51%, #ffdc8e 52%, rgba(255, 255, 255, 0) 100%);background:-webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(51%, rgba(255, 219, 140, .98)), color-stop(52%, #ffdc8e), to(rgba(255, 255, 255, 0)));background:linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 219, 140, .98) 51%, #ffdc8e 52%, rgba(255, 255, 255, 0) 100%);background-size:100% 3px;background-position:50% 100%;background-repeat:no-repeat}
.list-ok-items li img{margin:0 14px 15px 0}
.list-ok-items li span{display:block;width:378px}
.form{margin-right:-15px;position:relative}
.pack{position:absolute;top: -140px;left: -150px;}
.order-form{width:470px;background-color:#fff;-webkit-border-radius:10px;border-radius:10px;float:right;text-align:left;position:relative}
.order-form-header{font-size:14px;position:absolute;left:0;top:-27px}
.conditions{padding:5px 10px 10px 60px;position:relative}
.sale{position:absolute;left:-115px;top:-9px}
.conditions-text{font-size:16px}
.conditions-price{-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;align-items:baseline;padding-left:20px}
.conditions-price>div{-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.conditions-price>div > span{display:block}
.old-price{color:#555;line-height:33px;margin-right:40px}
.input-block,
.price{line-height:22px}
.old-price .title{font-size:14px}
.old-price .cost{font-size:30px;position:relative}
.old-price .cost:after{content:"";width:100%;height:2px;top:55%;left:0;background-color:#555;position:absolute}
.price .title{font-size:20px}
.price .cost{font-size:39px}
.input-block{background-color:#efefef;font-size:12px;padding:8px 18px 18px 14px}
.input-block>div{-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.input-block label{color:#000;display:block}
.input-block input{color:#7e7e7e;background-color:#fff;border:1px solid #ff0b00;-webkit-border-radius:5px;border-radius:5px;width:259px;height:36px;line-height:36px;text-indent:15px;display:block}
.count-bay,
.pain-item__text{color:#000}
.ib-name{margin-bottom:8px}
.btn-block{padding:20px 132px 17px 14px;position:relative}
.send{font-size:25px;padding:18px 40px 23px}
.count-bay{font-size:14px;margin-top:10px}
.arrow{position:absolute;z-index:1;opacity:.99;top:-3px;right:60px}
.medal-line{margin:41px 0;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.medal-line img{margin:0 9px}
.pain{background-color:#fff;padding:30px 0 40px}
.pain h2{margin-bottom:36px}
.pain-item{padding:0 10px}
.pain-item__img{margin-bottom:20px}
.hfooter{font-size:28px;line-height:40px;padding:15px 140px 35px}
@media only screen and (max-width:1199px){section{padding:25px 0}
h1{font-size:34px}
h2{font-size:30px}
.tl-block{height:114px}
.top-slogan{font-size:12px;line-height:16px;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:350px}
.top-slogan__item:nth-child(1){-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1;margin-bottom:6px}
.top-slogan__item:nth-child(2){-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}
.top-slogan__item:nth-child(3){-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2;top:20px;position:relative}
.under-header{font-size:19px;line-height:36px}
.list-ok{width:453px}
.list-ok-items{padding:10px 80px 32px 10px}
.list-ok-items li span{width:332px}
.order-form{width:360px}
.order-form-header{font-size:12px}
.conditions{padding:5px 54px 10px}
.conditions-text{font-size:14px;line-height:18px}
.conditions-price{padding-left:0;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.old-price{line-height:32px;margin-right:0}
.old-price .cost{font-size:27px}
.price{line-height:30px}
.price .title{font-size:14px}
.price .cost{font-size:30px}
.sale{width:123px;top:-6px;left:-100px}
.input-block{padding:3px 0 17px 54px}
.input-block>div{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.ib-name{margin-bottom:0}
.btn-block{padding:10px 46px 10px 54px}
.send{font-size:20px;padding:12px 30px 17px}
.arrow{width:34px;right:14px}
.count-bay{margin-top:5px}
.pack{left: -140px;}
.medal-line{margin-top:0}
.medal-line img{height:74px;margin:0}
.medal-line img:nth-child(2){margin:0 20px}
.pain-item__img img{width:100%}
.pain-item__text{font-size:16px;line-height:20px}
.hfooter{font-size:26px;line-height:34px;padding:15px 0 30px}
}
@media only screen and (max-width:991px){.input-block>div,
.row-flex{-webkit-box-direction:normal}
.row-flex{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
header{background-image:url(../img/bg-header-small.jpg)}
.header-body{margin-top:10px}
.tl-block{height:80px;font-size:18px;line-height:16px}
.top-btn .btn{padding:10px 20px 12px}
h1{font-size:27px}
h2{font-size:26px;line-height:32px}
.under-header{font-size:18px;line-height:24px;margin:10px -15px 0}
.list-form{margin-top:15px}
.list-ok{width:auto;margin-right:-15px}
.list-ok-items{padding:30px}
.list-ok-items li span{width:378px}
.form{margin-top:120px}
.order-form{width:auto;margin-left:-15px;float:none}
.pack{width: 200px;z-index:1;left: -40px;top:-185px;}
.sale{z-index:2;left:115px;top:-70px}
.order-form-header{font-size:16px;width:210px;right:22px;left:auto;top:-80px}
.conditions{padding:5px 10px 35px 180px}
.conditions .clock-block{padding-left:0}
.conditions .clock-block .clock-header{font-size:11px;line-height:24.07px;color:#000;position:relative;top:0;text-align:left}
.conditions .clock-block .flip-clock-wrapper ul{margin:1px;width:39px;height:53px;font-size:36px;line-height:53px}
.conditions .clock-block .flip-clock-wrapper ul li{line-height:53px}
.conditions .clock-block .flip-clock-wrapper ul li a div,
.conditions .clock-block .flip-clock-wrapper ul li a div.inn{font-size:36px}
.conditions .clock-block .flip-clock-divider{height:55px;width:15px}
.conditions .clock-block .flip-clock-divider .flip-clock-label{font-size:11px;line-height:24.07px;left:26px;color:#000}
.conditions .clock-block .flip-clock-divider:first-child{width:0}
.conditions .clock-block .flip-clock-divider.minutes .flip-clock-label,
.conditions .clock-block .flip-clock-divider.seconds .flip-clock-label{left:37px}
.conditions .clock-block .flip-clock-dot{width:4px;height:4px;background-color:#000;left:6px}
.conditions .clock-block .flip-clock-dot.top{top:19px}
.conditions .clock-block .flip-clock-dot.bottom{bottom:19px}
.conditions-price{margin-top:30px}
.old-price{line-height:37.25px}
.old-price .cost{font-size:26px}
.price{line-height:42.89px}
.price .title{font-size:16px}
.price .cost{font-size:36px}
.input-block{padding:17px 15px}
.input-block input{z-index:10}
.input-block>div{-webkit-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.ib-phone{margin-top:9px}
.btn-block{padding:40px 15px 10px}
.send{width:100%;font-size:25px;text-align:center;padding:20px 0 25px}
.medal-line{margin:36px 0 32px}
.medal-line img{height:initial}
.pain{padding-bottom:15px}
.pain h2{margin-bottom:20px}
.pain-item{padding:0 50px}
.pain-item__img{margin:0}
.pain-item__text{font-size:18px;line-height:23px;margin:25px 0}
}
@media only screen and (max-width:479px){h2,
section h2{line-height:23px}
header{background-image:url(../img/bg-header-xs.jpg)}
.container{width:320px;margin:0 auto}
.tl-block{height:63px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
h1{font-size:24px}
h2{font-size:20px}
.medal-line img:nth-child(2){margin:0}
.under-header{font-size:16px;line-height:22px}
.list-ok-items{padding:20px;font-size:16px}
.list-ok-items li span{width:249px}
.form{margin-top:230px}
.sale{top:-37px;left:initial;right:30px}
.pack{width: 170px;top: -315px;left: 55px;}
.conditions{padding:100px 15px 10px}
.conditions .clock-block{margin-top:10px}
.conditions .clock-block .clock-header{font-size:14px;line-height:18px;text-align:center;margin-bottom:5px}
.conditions-price{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.old-price{line-height:27px;margin-right:30px}
.old-price .title{font-size:12px}
.old-price .cost{font-size:24px}
.price{line-height:28px}
.price .title{font-size:12px}
.price .cost{font-size:30px}
.input-block{padding-top:0}
.input-block>div{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.input-block input{width:100%}
.ib-phone{margin:0}
.send{font-size:16.29px;line-height:14.79px;padding:15px 0}
.medal-line img{height:81px}
.pain h2{margin:0 -15px 20px}
.pain-item{padding:0 15px}
.pain-item__text{font-size:16px;line-height:23px}
.hfooter{font-size:18px;line-height:24px;margin:0 -15px}
}


.country_select{
	color: #7e7e7e;
    background-color: #fff;
    border: 1px solid #ff0b00;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 259px;
    height: 36px;
    line-height: 36px;
    text-indent: 15px;
    display: block;
}
